.background-registration{
    background-image: url('https://www.womenbuildingaustralia.com.au/sites/default/files/images/Poly_BG_Grad%20%281%29_0_1.png');
    color: rgb(255, 255, 255);
    height: 100%;
}

container{
    padding:20px;
    margin-bottom:20px;
}