:root{
  --offcanvas-width:20%;
}

.sidebar-nav{
  
  width: var(--offcanvas-width) !important;
  background-color:black;
  color:white;
  top:58px !important;
  height:calc(100%-58px) !important;
 
}



@media(max-width:600px){
  :root{
      --offcanvas-width:50%;

  }

  .sidebar-link{
      display:flex;
      align-items: center;
  }
  
  .sidebar-link .right-icon{
     display:inline-flex;
     transition:all ease 0.25s;
  }
  
  .sidebar-link[aria-expanded="true"] .right-icon{
      transform:rotate(180deg);
  }
}

@media(min-width:600px){
  :root{
      --offcanvas-width:30%;
  }
  .sidebar-link{
      display:flex;
      align-items: center;
  }
  
  .sidebar-link .right-icon{
     display:inline-flex;
     transition:all ease 0.25s;
  }
  
  .sidebar-link[aria-expanded="true"] .right-icon{
      transform:rotate(180deg);
  }
}

@media(min-width:992px){
  :root{
      --offcanvas-width:20%;
  }
  
  .offcanvas{
    display:block;
  }
  /* .offcanvas-backdrop::before{
      display:none;
  } */

  .sidebar-link{
      display:flex;
      align-items: center;
  }

  .sidebar-link .right-icon{
     display:inline-flex;
     transition:all ease 0.25s;
  }

  .sidebar-link[aria-expanded="true"] .right-icon{
      transform:rotate(180deg);
  }
  
  
  .sidebar-nav{
      
      transform:none;
      background-color:black;
      color:white;
      visibility: visible !important;
      top:55px !important;
      height:calc(100%-55px) !important;
  }
 
}
